<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp responsive-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of this.projects">
            <td class="mdl-data-table__cell--non-numeric">{{ project.id }} <input [(ngModel)]="project.id"></td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td><md-slide-toggle ng-color="primary" [(ngModel)]="project.active">{{(project.active)? 'Active':'Not active'}}</md-slide-toggle></td>
            <td>
                <button md-icon-button routerLink="view/{{project.id}}"><i class="material-icons">open_in_browser</i></button>
                <button md-icon-button routerLink="update/{{project.id}}"><i class="material-icons">mode_edit</i></button>
                <!--<button md-icon-button routerLink="/delete/{{project.id}}"><i class="material-icons">delete</i></button>-->
            </td>
        </tr>
    </tbody>
</table>