<md-sidenav-container>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </md-sidenav>
    <md-toolbar color="primary">
        <span>Language Translator</span>
        <span class="example-fill-remaining-space"></span>
        <span class="app-toolbar-filler"></span>
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
    </md-toolbar>


    <app-header></app-header>
    <content></content>
    <footer></footer>

</md-sidenav-container>
<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
           your background is light. */
        color: white;
    }
</style>